.git
.gitignore
.next
node_modules
npm-debug.log
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
README.md
Dockerfile
docker-compose.yml
.dockerignore
coverage
*.log
uploads
.env
.env.*
!.env.example
.github
